.head {
    background-color: black;
    color: white;
    font-family: consolas;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 14vh;
    z-index: 100;
    display: grid;
    grid-template-columns: 1fr;
}
.headb {
    height: 32px;
    width: 15vw;
    background-color: black;
    border-color: white;
    border-style: solid;
    border-radius: 4px;
    border-width: 2px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 1.5vw;
    cursor: pointer;
    transition: all 0.25s;
}
.headb:hover {
    background-color: white;
    border-width: 0px;
    color: black;
    font-size: 1.75vw;
}
.headb:active {
    background-color: black;
    border-width: 0px;
    color: rgb(255, 192, 128);
    font-size: 1.5vw;
    transition: all 0.125s;
}
.selected {
    height: 32px;
    width: 160px;
    background-color: black;
    border-radius: 4px;
    border-width: 0px;
    color: rgb(255, 192, 128);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 1.5vw;
}
.myname {
    font-size: 2.5vw;
    text-align: center;
    color: rgba(255,255,255,0.25);
    transition: color 0.5s;
}
.myname:hover{
    color: rgba(255,255,255,0.75);
}
.llet {
    font-size: 2.5vw;
    text-align: center;
    color: rgb(255,255,255);
    cursor: pointer;
    transition: color 0.5s;
}
.llet:hover {
    color: rgb(128, 255, 255);
}
.llet:active {
    color: rgb(255, 192, 128);
    transition: color 0.25s;
}
.feet {
    background-color: black;
    color: white;
    font-family: consolas;
    font-size: 1.5vw;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 56px;
    z-index: 100;
}
.centext {
    display: flex;
    justify-content: center;
    align-items: center; 
}
.poetry {
    font-family: consolas;
    font-size: 1.5vw;
    position: relative;
    top: 160px;
    margin-bottom: 128px;
    margin-left: 25%;
    margin-right: 25%;
    column-gap: 16px;
    row-gap: 16px;
    display: grid;
    grid-template-columns: 1fr;
}
@media (max-aspect-ratio: 1/1) {
    .poetry {
        font-size: 2vw;
        margin-left: 32px;
        margin-right: 32px;
        column-gap: 16px;
    } 
}
